.nav{
    width: 100%;
    &__intro{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-family: 'Red Hat Display', sans-serif;
    }
    &__logo{
        display: flex;   
        justify-content: center;
        align-items: center;    
        text-align: center;
        width: 43px;
        height: 43px;
        color: #FFFFFF;
        border-radius: 6px;
        background: rgb(41,121,255);
        background: linear-gradient(90deg, rgba(41,121,255,1) 0%, rgba(76,88,158,1) 100%);
        font-weight: 700;
        font-size: 32px;
        margin-right: 12px;
    }
    &__title{
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        color: #0C2146;
    }
    &__list{
        display: flex;   
        justify-content: center;
        align-items: center;
        height: 72px;
        background: #FFC970;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    &__item{
        text-align: center;
        width: 100px;
        height: 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            background: rgba(235, 242, 255, 0.3)
        }
    }
}